@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-bao-primary: #336d5c;
  --color-bao-secondary: #87d6be;
  --color-bao-shadow-green: #79c0ab;
  --color-bao-1: #fdfccf;
  --color-bao-2: #fdd0a4;
  --color-bao-3: #dab991;
  --color-bao-border: #091a28;
}

:root {
  --font-family-title: "Ubuntu", sans-serif;
  --font-family-body: "Source Sans 3", sans-serif;
}

.nav.active {
  font-weight: bold;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
